@import "mixins";

ariel-orders > *,
[data-ariel="ariel-orders"] > * {
  background-color: lightgray;
}

ariel-order > *,
[data-ariel="ariel-order"] > * {
  background-color: lightsalmon;
}

ariel-data,
[data-ariel="ariel-data"] {
  background-color: red;
  color: #ffffff;
}

ariel-products, ariel-products > *,
[data-ariel="ariel-products"] > * {
  background-color: orange;
}

ariel-product, ariel-product > *,
[data-ariel="ariel-product"] > * {
  background-color: orchid;
}

ariel-product_name,
[data-ariel="ariel-product_name"] > * {
  background-color: darkblue;
  color: #ffffff;
}

ariel-product_price,
[data-ariel="ariel-price"] > * {
  background-color: orangered;
  color: #ffffff;
}

ariel-total,
[data-ariel="ariel-total"] > * {
  background-color: greenyellow;
}

table {
  border: 2px dotted red;
  padding: 2px 6px;
  margin: 2px 6px;
  tr {
    border: 2px solid yellow;
    padding: 2px 6px;
    margin: 2px 6px;
    td {
      border: 2px solid lightseagreen;
      padding: 2px 6px;
      margin: 2px 6px;
    }
  }
}

body { @include zoom(0.75) }
