@mixin zoom($scale) {
  -ms-zoom: $scale;
  -moz-transform: scale($scale);
  -moz-transform-origin: 0 0;
  -o-transform: scale($scale);
  -o-transform-origin: 0 0;
  -webkit-transform: scale($scale);
  -webkit-transform-origin: 0 0;
}
